@import url('https://fonts.googleapis.com/css?family=Poppins:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Catamaran:500|Poppins:500&display=swap');
body{
  background: linear-gradient(to right, red, yellow);
}

.container{
  text-align: center;
}

p{
  font-size: 1.7rem;
}

h4{
  font-family: "Poppins";
  font-size: 4em;
  color: #575b72;
}

h5{
  font-family: "Catamaran";
  font-size: 2em;
  color: #575b72;
}
